@model Book
@inject IAuthorService AuthorService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<environment include="Development">
    <link rel="stylesheet" href="~/css/Books/RightContent.css" />
</environment>

<div class="row">
    <div class="card card-body">
        <div class="row">
            <div class="col"><hr /></div>
            <div class="col-auto"><h6 class="actionLink">Authors</h6></div>
            <div class="col"><hr /></div>
        </div>
        <div class="row justify-content-center">
            @{
                var authors = Model.Authors.ToList();
                var lastAuthor = AuthorService.GetAuthorById(authors[authors.Count - 1].AuthorId);
                for (var index = 0; index < authors.Count - 1; ++index)
                {
                    var authorDisplay = AuthorService.GetAuthorById(authors[index].AuthorId);

                    <a asp-controller="Authors" asp-action="Details" asp-route-id="@authorDisplay.Id">
                        <h7 class="displayContent">@authorDisplay.Name, </h7>
                    </a>
                }

                <a asp-controller="Authors" asp-action="Details" asp-route-id="@lastAuthor.Id">
                    <h7 class="displayContent">
                        @lastAuthor.Name
                    </h7>
                </a>
            }
        </div>
    </div>
</div>
<br />
<div class="row justify-content-center">
    <div class="card card-body">
        <div class="row">
            <div class="col"><hr /></div>
            <div class="col-auto"><h6 class="actionLink">Details</h6></div>
            <div class="col"><hr /></div>
        </div>
        <div class="row justify-content-center">
            <p class="displayNormalContent">
                @Model.Details
            </p>
        </div>
    </div>
</div>
<br />
<div class="row justify-content-center">
    <div class="card card-body">
        <div class="row">
            <div class="col"><hr /></div>
            <div class="col-auto"><h6 class="actionLink">Actions</h6></div>
            <div class="col"><hr /></div>
        </div>
        <div class="row justify-content-center">
            <p>
                @{
                    var recommendBook = "recommendBook" + @Model.Id;
                }
                @if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
                {
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="displayContent">
                        <i class="fa fa-edit"></i> Edit
                    </a>
                    <br/>
                }
                @if (SignInManager.IsSignedIn(User))
                {
                    <a data-toggle="modal" data-target="#@recommendBook" class="displayContent">
                        <i class="fa fa-book"></i> Recommend a book
                    </a>
                    <br />
                }
                <a asp-action="Index" class="displayContent">
                    <i class="fa fa-undo"></i> Search for others books
                </a>
                <br />
                <a asp-controller="Authors" asp-action="Index" class="displayContent">
                    <i class="fa fa-users"></i> Search through authors..
                </a>
            </p>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            @Html.Partial("DetailsPages/RightContentPages/_RecommendABook", Model.Id)
        }
    </div>
</div>
<br />
<div class="row">
    <div class="card card-body">
        <div class="row">
            <div class="col"><hr /></div>
            <div class="col-auto">
                <h6 class="actionLink">
                    <a data-toggle="modal" data-target="#readBook" class="displayContent">
                        Read this book
                    </a>
                </h6>
            </div>
            <div class="col"><hr /></div>
        </div>
    </div>
</div>
@Html.Partial("DetailsPages/RightContentPages/_ReadBook", Model)