@model IEnumerable<Author>
@inject IAuthorService AuthorService

@{
    ViewData["Title"] = "Index";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Authors/Author.css" />
</environment>

<br />
<br />
<br />
<div class="row justify-content-center">
    <h3 class="actionLink">
        Discover all authors
    </h3>
</div>
<div class="row justify-content-center">
    <h5>
        <i>
            <a asp-action="Create" id="addOption">..or add a new one</a>
        </i>
    </h5>
</div>
<br />
<br />
<div class="container">
    @{
        var authors = Model.ToList();
        <div class="row">
            @for (var index = 0; index < authors.Count; ++index)
            {
                var checkIndex = index + 1;
                var displayInfo = "<h4>" + authors[index].Name + "</h4><p>" + authors[index].Description + "</p>";

                <div class="col-md-3 col-3">
                    <a asp-action="Details" asp-route-id="@authors[index].Id" data-toggle="tooltip" data-placement="right" data-html="true" title="@displayInfo">
                        <img class="rounded indexImages" src="@Url.Content("..\\..\\..\\images\\" + authors[index].Folder + "\\" + authors[index].ImageName)" />
                    </a>
                </div>

                if (checkIndex % 4 == 0)
                {
                    <div class="w-100"></div>
                }
            }
        </div>
    }
    <br />
    <div class="row justify-content-center">
        <form asp-action="Index">
            <ul class="pagination">
                @{
                    for (var index = 0; index < AuthorService.GetAllAuthors().Count; ++index)
                    {
                        if (index % 12 == 0)
                        {
                            var firstValue = index / 10 * 12 + 1;
                            if (index == 0)
                            {
                                firstValue = 1;
                            }

                            var secondValue = firstValue + 11;

                            <li class="page-item">
                                <button type="submit" name="pageNumber" class="btn actionButton" value="@index">@firstValue - @secondValue</button>
                            </li>
                        }
                    }
                }
            </ul>
        </form>
    </div>
</div>