@model Author
@inject IApplicationPictureLogic PictureService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var communityFeedback = @Model.Id + "communityFeedback";
}

<div class="row justify-content-center">
    <div class="col-3"><hr /></div>
    <div class="col-auto">
        <h5 class="displayFeedback" onclick="displayCommunityFeedback('@communityFeedback')">Community's feedback</h5>
    </div>
    <div class="col-3"><hr /></div>
</div>
<div class="container border border-top-0 communityFeedback" id="@communityFeedback">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = UserManager.GetUserId(User);
        <div class="media p-3">
            <img class="mr-3 rounded" id="reviewPicture" src="@Url.Content("..\\..\\" + PictureService.GetFolderWithFile(userId))" />
            <div class="media-body textAlign">
                <form asp-controller="Posts" asp-action="Create" class="submitPost" role="form">
                    @Html.Hidden("userId", Guid.Parse(userId))
                    @Html.Hidden("targetId", Model.Id)
                    <input type="text" name="postText" placeholder="Write a comment.." />
                    <button type="button" id="reviewButton" class="btn textButton"></button>
                </form>
            </div>
        </div>
    }

    <div id="@Model.Id">
        @Html.Partial("PartialViews/_PostsDisplay", Model.Posts)
    </div>
</div>