@using System.Linq
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Login";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Account/Login.css" />
</environment>

<div class="container">
    <div class="modal fade" id="loginModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <p class="modal-title mx-auto mw-100">
                        <strong>Login using</strong>
                    </p>
                </div>
                <div class="modal-body mx-auto">
                    <div class="row justify-content-center">
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group row">
                                <label class="col-4 col-md-4 col-form-label" asp-for="Email"></label>
                                <div class="col-8 col-md-8 ml-auto">
                                    <input class="form-control" asp-for="Email" placeholder="explore@books.com"/>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-md-4 col-form-label" asp-for="Password"></label>
                                <div class="col-8 col-md-8 ml-auto">
                                    <input asp-for="Password" class="form-control"/>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn" id="loginButton">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <p class="mx-auto mw-100">
                            <strong>
                                Or consider using..
                            </strong>
                        </p>
                    </div>
                    <div class="row justify-content-center">
                        @{
                            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                            <form class="form-inline" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">                              
                                @foreach (var provider in loginProviders)
                                {
                                    <div>
                                        <div class="col-md displayOption">
                                            <button type="submit" class="btn btn-block socialMedia @provider.Name" name="provider" value="@provider.Name">
                                                @if (@provider.Name.ToLower() == "facebook")
                                                {
                                                    <i class="fa fa-facebook-square"></i>
                                                }

                                                @if (@provider.Name.ToLower() == "google")
                                                {
                                                    <i class="fa fa-google-plus-square"></i>
                                                }

                                                @if (@provider.Name.ToLower() == "twitter")
                                                {
                                                    <i class="fa fa-twitter-square"></i>
                                                }

                                                @provider.Name.ToLower()
                                            </button>
                                        </div>
                                    </div>
                                }
                            </form>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md col">
                                <strong>
                                    <h7 class="footer text-muted">
                                        Don't have an account?
                                        <a class="footer" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" id="registerOption">Register here</a>
                                    </h7>
                                </strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/Account/Login.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
