@model Book
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IBookStateMiddleware StateMiddleware
@inject IApplicationBookLogic BookService

<div class="row justify-content-center">
    @{
        var numberOfPeople = StateMiddleware.GetAllStatesThatRatedThisBook(Model.Id).Count;       
    }
    @if (numberOfPeople == 0)
    {
        <h6>Seems like no one rated this book yet</h6>  
    }
    else
    {
        <h6>
            @Model.FinalRate / 5 - score given by @numberOfPeople people
        </h6>
    }
</div>
<br />
<div class="row">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="offset-2 col-md-3 col-3 text-right">
            <h6 id="displayUserRating">
                Your rating: 
            </h6>
        </div>
        <div class="col-md-7 col-7">
            <div class="form-inline text-left">
                @{
                    var userId = UserManager.GetUserId(User);
                    if (BookService.CheckIfUserRatedThisBook(Guid.Parse(userId), Model.Id))
                    {
                        var rate = BookService.GetUserRatingForBook(Guid.Parse(userId), Model.Id);
                        @Html.DropDownList("ratingBook", BookService.GetRatingList(), BookService.ConvertRateToText(rate), new
                        {
                            @class = "form-control w-auto",
                            id = "ratingValue",
                            onchange = "DisplaySaveOption()"
                        })
                    }
                    else
                    {
                        @Html.DropDownList("ratingBook", BookService.GetRatingList(), null, new
                        {
                            @class = "form-control w-auto",
                            @id = "ratingValue",
                            onchange = "DisplaySaveOption()"
                        })
                    }
                }
                <button type="submit" class="ml-2 btn" id="acceptButton" onclick="RateBook('@Model.Id', '@Guid.Parse(userId)')"><i class="fa fa-check"></i></button>
            </div>
        </div>
    }
</div>