@model Book
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IApplicationBookLogic BookService

<environment include="Development">
    <link rel="stylesheet" href="~/css/Books/UserProgress.css" />
</environment>

@if (SignInManager.IsSignedIn(User))
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4"><hr /></div>
            <div class="col-auto">
                <h5 class="text-center actionLink">
                    Progress
                </h5>
            </div>
            <div class="col-4"><hr /></div>
        </div>
        <div class="row justify-content-center">
            <div class="offset-2 col-md-4 col-4 text-right">
                <h6 id="displayUserProgress">
                    Number of pages:
                </h6>
            </div>
            <div class="col-md-6 col-6">
                <div class="form-inline modifyPages">
                    @{
                        var userId = UserManager.GetUserId(User);
                        if (BookService.CheckIfBookStateExists(Model.Id, userId))
                        {
                            <div id="currentPages">
                                <h5>@BookService.GetNumberOfPages(Model.Id, userId)/@Model.Pages</h5>
                            </div>
                            <div class="input-group justify-content-center">
                                <div id="modifyPages">
                                    <form asp-controller="Users" asp-action="ChapterBook" class="submitUserProgress" role="form">
                                        @Html.Hidden("bookId", Model.Id)
                                        @Html.Hidden("userId", Guid.Parse(userId))
                                        <input type="text" name="pages" class="text-center w-75" placeholder="Pages.."/>
                                        <button type="submit" class="btn" id="acceptButton"><i class="fa fa-check"></i></button>
                                    </form>
                                </div>
                                <button type="button" class="ml-1 btn" id="modifyButton" onclick="DisplayProgressModify()"><i class="fa fa-pencil"></i></button>
                            </div>
                        }
                        else
                        {
                            <form asp-controller="Users" asp-action="ChapterBook" class="submitUserProgress" role="form">
                                @Html.Hidden("bookId", Model.Id)
                                @Html.Hidden("userId", Guid.Parse(userId))
                                <input type="text" name="pages" class="text-center w-75" placeholder="Pages.."/>
                                <button type="submit" class="btn" id="acceptButton"><i class="fa fa-check"></i></button>
                            </form> 
                        }
                    }
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-11"><hr /></div>
        </div>
    </div>
}
                    
<environment include="Development">
    <script src="~/js/Books/UserProgress.js"></script>
</environment>