@model Book
@inject IApplicationPictureLogic PictureService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUtilityService UtilityService

@{
    ViewData["Title"] = "Details";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Book.css" />
    <link rel="stylesheet" href="~/css/PartialPosts.css" />
</environment>

<br />
<br />

<div class="container text-center">
    <div class="row">
        <div class="col-md-3 col-3">        
            @await Html.PartialAsync("DetailsPages/_LeftContent", Model)
        </div>
        <div class="col-md-6 col-6">
            <div class="col-md-12 col-12">
                <div class="row">
                    <h2 class="col-8 text-left" style="font-style: italic">
                        @Model.Title
                    </h2>
                    @await Html.PartialAsync("DetailsPages/_AddFavoriteContent", Model.Id)
                </div>
                <div class="row">
                    <div class="col-md-12 col-12 text-left">
                        <p>
                            @Model.Description
                        </p>
                    </div>
                </div>
                <div class="row">
                    @await Html.PartialAsync("DetailsPages/_GenresContent", Model.Genres.ToList())
                </div>
                <br />
                <br />
                <div class="row text-center">
                    <div class="col-md-12 col-12">
                        <h4 style="font-style: italic">
                            Statistics
                        </h4>
                        <span style="float: left;">
                            87.3% found this book good
                        </span>
                        <span style="float: right;">
                            Your rating: Very Good
                        </span>
                    </div>
                </div>
                <br />
                <br />
                <div class="row text-center">
                    <div class="col-md-12 col-12">
                        <h4 style="font-style: italic">
                            <a asp-controller="Recommendations" asp-action="GetAllRecommendations" asp-route-bookId="@Model.Id">
                                Recommendations
                            </a>
                        </h4>
                    </div>
                    <div>
                        @Html.Partial("PartialViews/_RecommendedBooks", Model)
                    </div>
                </div>
                <br />
                <br />
                <div class="row text-center">
                    <div class="col-md-12 col-12">
                        <h4>
                            <i>
                                Community's feedback
                            </i>
                        </h4>
                    </div>
                </div>
                <div class="container border">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var userId = UserManager.GetUserId(User);
                        <div class="media p-3">
                            <img class="mr-3 rounded" id="reviewPicture" src="@Url.Content("..\\..\\" + PictureService.GetFolderWithFile(userId))"/>
                            <div class="media-body textAlign">
                                <form asp-controller="Posts" asp-action="Create" class="submitPost" role="form">
                                    @Html.Hidden("userId", Guid.Parse(userId))
                                    @Html.Hidden("targetId", Model.Id)
                                    <input type="text" name="postText" placeholder="Write a review.."/>
                                    <button type="button" id="reviewButton" class="btn textButton"></button>
                                </form>
                            </div>
                        </div>
                    }

                    <div id="@Model.Id">
                        @Html.Partial("PartialViews/_PostsDisplay", Model.Posts)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-3">
            @await Html.PartialAsync("DetailsPages/_RightContent", Model)
        </div>
    </div>
</div>

<environment include="Development">
    <script>
        $(".submitRecommendation").submit(function (e) {
            e.preventDefault();
            var book = this.bookId.value;
            var user = this.userId.value;
            var recommendation = $(this).find("input[name='recommendedBookId']").val();
            var reasonText = $(this).find("textarea[name='reason']").val();
            $.ajax({
                url: "/Recommendations/RecommendABook",
                data: { bookId: book, userId: user, recommendedBookId: recommendation, reason: reasonText },
                type: "POST",
                success: function () {
                    location.reload();
                }
            });
        });
    </script>
    <script src="~/js/Books.js"></script>
</environment>
