@model Book
@inject IAuthorService Authors
@inject IGenreService Genres
@inject IApplicationUserServices Service
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUtilityService UtilityService

@{
    ViewData["Title"] = "Details";
    var save = TempData["ReadAction"];
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Book.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</environment>

<br />
<br />

@Html.Partial("_StatusMessage", save)

<div class="container text-center">
    <div class="row">
        <div class="col-md-3 col-3 infoBooks">
            <div class="col-md-12 col-12">
                <img class="rounded" id="imageDetails" src="@Url.Content("..\\..\\images\\" + Model.Folder + "\\" + Model.ImageName)" />

                @if (SignInManager.IsSignedIn(User))
                {
                    var user = UserManager.GetUserId(User);
                    var checkBookState = UtilityService.GetBookStateById(Model.Id, Guid.Parse(user));

                    if (checkBookState != null)
                    {
                        if (checkBookState.State == 1)
                        {
                            <div class="card card-body bg-light">
                                <div class="progress">
                                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width: 25%">                                        
                                        <i>On your <a href="#">plan to read</a></i>
                                    </div>
                                </div>
                                <br />
                                <button type="submit" class="btn btn-info" onclick="ReadAction('@Model.Id', '@user', 'Reading')">Reading</button>
                                <br />
                                <button type="submit" class="btn btn-success" onclick="ReadAction('@Model.Id', '@user', 'Read')">Read</button>
                                <br />
                            </div>
                        }
                        else if (checkBookState.State == 2)
                        {
                            <div class="card card-body bg-light">
                                <button type="submit" class="btn btn-danger" onclick="ReadAction('@Model.Id', '@user', 'Plan to read')">Plan to read</button>
                                <br />
                                <div class="progress">
                                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width: 70%">
                                        <i>On your <a href="#">reading</a> list..</i>
                                    </div>
                                </div>
                                <br />
                                <button type="submit" class="btn btn-success" onclick="ReadAction('@Model.Id', '@user', 'Read')">Read</button>
                                <br />
                            </div>
                        }
                        else if (checkBookState.State == 3)
                        {
                            <div class="card card-body bg-light">
                                <button type="submit" class="btn btn-danger" onclick="ReadAction('@Model.Id', '@user', 'Plan to read')">Plan to read</button>
                                <br />
                                <button type="submit" class="btn btn-info" onclick="ReadAction('@Model.Id', '@user', 'Reading')">Reading</button>
                                <br />
                                <div class="progress">
                                    <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width: 100%">                                        
                                        <i>On your <a href="#">read</a> list..</i>
                                    </div>
                                </div>
                                <br />
                            </div>
                        }
                        else
                        {
                            <div class="card card-body bg-light">
                                <button type="submit" class="btn btn-danger" onclick="ReadAction('@Model.Id', '@user', 'Plan to read')">Plan to read</button>
                                <br />
                                <button type="submit" class="btn btn-info" onclick="ReadAction('@Model.Id', '@user', 'Reading')">Reading</button>
                                <br />
                                <button type="submit" class="btn btn-success" onclick="ReadAction('@Model.Id', '@user', 'Read')">Read</button>
                                <br />
                            </div>
                        }
                    }
                    else
                    {
                        <div class="card card-body bg-light">
                            <button type="submit" class="btn btn-danger" onclick="ReadAction('@Model.Id', '@user', 'Plan to read')">Plan to read</button>
                            <br />
                            <button type="submit" class="btn btn-info" onclick="ReadAction('@Model.Id', '@user', 'Reading')">Reading</button>
                            <br />
                            <button type="submit" class="btn btn-success" onclick="ReadAction('@Model.Id', '@user', 'Read')">Read</button>
                            <br />
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-md-6 col-6">
            <div class="col-md-12 col-12">
                <div class="row">
                    <h2 class="col-8 text-left" style="font-style: italic">
                        @Model.Title
                    </h2>
                    <div class="col-4">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = UserManager.GetUserId(User);
                            var checkFavorite = UtilityService.GetBookStateById(Model.Id, Guid.Parse(user));
                            if (checkFavorite != null)
                            {
                                if (checkFavorite.IsFavorite)
                                {
                                    <button type="submit" class="btn btn-secondary" onclick="RemoveFavorite('@Model.Id', '@user')"><i class="fa fa-heart-o"></i></button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-danger" onclick="AddFavorite('@Model.Id', '@user')"><i class="fa fa-heart"></i></button>
                                }
                            }
                            else
                            {
                                <button type="submit" class="btn btn-danger" onclick="AddFavorite('@Model.Id', '@user')"><i class="fa fa-heart"></i></button>
                            }
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-12 text-left">
                        <p>
                            @Model.Description
                        </p>
                    </div>
                </div>
                <div class="row">
                    @{
                        var genres = Model.Genres.ToList();
                        for (var index = 0; index < genres.Count; ++index)
                        {
                            var genreDisplay = Genres.GetGenreById(genres[index].GenreId);
                            var checkIndex = index + 1;

                            <div class="col-md-2 col-2">
                                <span class="badge badge-pill genreBadge">@genreDisplay.Text</span>
                            </div>

                            if (checkIndex % 6 == 0)
                            {
                                <div class="w-100"></div>
                            }
                        }
                    }
                </div>
                <br />
                <div class="row text-center">
                    <div class="col-md-12 col-12">
                        <h4 style="font-style: italic">
                            Recommendations
                        </h4>
                    </div>
                </div>
                <br />
                <br />
                <div class="container border">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var userId = UserManager.GetUserId(User);
                            <div class="media p-3">
                                <img class="mr-3 rounded" id="reviewPicture" src="@Url.Content("..\\..\\" + Service.GetFolderWithFile(userId))" />
                                <div class="media-body textAlign">
                                    <form asp-controller="Posts" asp-action="Create" method="post" class="submitPost" role="form">
                                        @Html.Hidden("userId", Guid.Parse(userId))
                                        @Html.Hidden("targetId", Model.Id)
                                        <input type="text" name="postText" placeholder="Write a review.." />
                                        <button type="button" id="reviewButton" class="btn textButton"></button>
                                    </form>
                                </div>
                            </div>
                        }

                        <div id="@Model.Id">
                            @Html.Partial("PartialViews/_PostsDisplay", Model.Posts)
                        </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-3">
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="card card-body bg-light">
                        <div class="row">
                            <div class="col"><hr /></div>
                            <div class="col-auto"><h6>Authors</h6></div>
                            <div class="col"><hr /></div>
                        </div>
                        @{
                            var authors = Model.Authors.ToList();
                            var lastAuthor = Authors.GetAuthorById(authors[authors.Count - 1].AuthorId);
                            for (var index = 0; index < authors.Count - 1; ++index)
                            {
                                var authorDisplay = Authors.GetAuthorById(authors[index].AuthorId);

                                <a asp-controller="Authors" asp-action="Details" asp-route-id="@authorDisplay.Id"><h7>@authorDisplay.Name, </h7></a>
                            }

                            <a asp-controller="Authors" asp-action="Details" asp-route-id="@lastAuthor.Id">@lastAuthor.Name</a>
                        }
                    </div>
                    <br />
                    <br />
                    <div class="card card-body bg-light">
                        <div class="row">
                            <div class="col"><hr /></div>
                            <div class="col-auto"><h6>Details</h6></div>
                            <div class="col"><hr /></div>
                        </div>
                        <p>
                            @Html.DisplayFor(modelItem => Model.Details)
                        </p>
                    </div>
                    <br />
                    <br />
                    <div class="card card-body bg-light">
                        <div class="row">
                            <div class="col"><hr /></div>
                            <div class="col-auto"><h6>Actions</h6></div>
                            <div class="col"><hr /></div>
                        </div>
                        <p>
                            <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fa fa-edit"></i>"Edit</a>
                            <br />
                            <a asp-action="Index"><i class="fa fa-book"></i> Search for others books</a>
                            <br />
                            <a asp-controller="Authors" asp-action="Index"><i class="fa fa-users"></i> Search through authors..</a>
                        </p>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-12 col-12">
                    <div class="card card-body bg-light">
                        <div class="row">
                            <div class="col"><hr /></div>
                            <div class="col-auto"><h6>Buy this book</h6></div>
                            <div class="col"><hr /></div>
                        </div>
                        <p>
                            <a href="#"><i class="fa fa-amazon"></i> amazon</a>
                            <br />
                            <a href="#"><i class="fa fa-google"></i> google</a>
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<environment include="Development">
    <script>
        $(".submitPost").submit(function(e) {
            e.preventDefault();
            var user = this.userId.value;
            var target = this.targetId.value;
            var post = $(this).find("input[name='postText']").val();
            $.ajax({
                url: "/Posts/Create",
                data: { userId: user, targetId: target, postText: post },
                type: "POST",
                success: function() {
                    var result = "@Url.Action("GetAllPostsForUserId", "Posts")?targetId=" + target;
                    $("#" + target).load(result);
                    $(".submitPost").trigger("reset");
                    $(":focus").blur();
                }
            });
        });
    </script>
    <script src="~/js/PostsDisplay.js"></script>
    <script src="~/js/Books.js"></script>
</environment>
