@model IEnumerable<Book>
@inject IBookService BookService

@{
    ViewData["Title"] = "Index";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Books/Book.css" />
</environment>

<br />
<br />
<br />
<div class="row justify-content-center">
    <h3 class="actionLink">
        Browse through all books
    </h3>
</div>

@if (User.IsInRole("Administrator") || User.IsInRole("Owner"))
{
    <div class="row justify-content-center">
        <h5>
            <i>
                <a asp-action="Create">..or add a new one</a>
            </i>
        </h5>
    </div>
}

<br />
<br />
<div class="container">
    @{
        var books = Model.ToList();
        <div class="row">
            @for (var index = 0; index < books.Count; ++index)
            {
                var checkIndex = index + 1;
                var displayInfo = "<h4>" + books[index].Title + "</h4><p>" + books[index].Description + "</p>";

                <div class="col-md-3 col-3">
                    <a asp-action="Details" asp-route-id="@books[index].Id" data-toggle="tooltip" data-placement="right" data-html="true" title="@displayInfo">
                        <img class="rounded" id="bookImage" src="@Url.Content("~/images/" + books[index].Folder + "/" + books[index].ImageName)"/>
                    </a>
                </div>

                if (checkIndex % 4 == 0)
                {
                    <div class="w-100"></div>
                    <br />
                }
            }
        </div>
    }
    <br />
    <br />
    <br />
    <div class="row justify-content-center">
        <form asp-action="Index">
            <ul class="pagination">
                @for (var index = 0; index < BookService.GetAllBooks().Count; ++index)
                {
                    if (index % 12 == 0)
                    {
                        var firstValue = index / 10 * 12 + 1;
                        if (index == 0)
                        {
                            firstValue = 1;
                        }

                        var secondValue = firstValue + 11;

                        <li class="page-item">
                            <button type="submit" name="pageNumber" class="btn actionButton" value="@index">@firstValue - @secondValue</button>
                        </li>
                    }
                }
            </ul>
        </form>
    </div>
</div>