@model string
@inject IApplicationUserServices Service
@inject IApplicationPictureLogic PictureService

@{
    var user = Service.GetApplicationUserById(Guid.Parse(Model));
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Users/LeftContent.css" />
</environment>

<br/>
<div class="sticky-top">
    <div class="row justify-content-center">
        <img class="rounded-circle imageContent" src="@Url.Content("..\\..\\" + PictureService.GetFolderWithFile(user.Id))"/>
    </div>
    <div class="row justify-content-center">
        <div class="col"><hr /></div>
        <div class="col-auto"><h7>/@user.User</h7></div>
        <div class="col"><hr /></div>
    </div>
    <div class="row justify-content-center">
        <h4>
            @user.FirstName @user.LastName
        </h4>
    </div>
    <div class="row displayContent">
        <h6>
            <i class="fa fa-info-circle mr-2"></i>@user.Description
        </h6>
    </div>
    <div class="row displayContent">
        <h6>
            <i class="fa fa-map-marker mr-2"></i>@user.Country
        </h6>
    </div>
</div>