@model string
@inject SignInManager<ApplicationUser> SignInManager

@{
    var activeValue = ViewContext.RouteData.Values["Action"].ToString();
    var indexValue = "nav-link";
    var libraryValue = "nav-link";
    var socialValue = "nav-link";

    if (activeValue == "Index")
    {
        indexValue += " active";
    }

    if (activeValue == "Library")
    {
        libraryValue += " active";
    }

    if (activeValue == "Social")
    {
        socialValue += " active";
    }
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="@indexValue" asp-route-username="@Model" asp-action="Index">Activity</a>
    </li>
    <li class="nav-item">
        <a class="@libraryValue" asp-route-username="@Model" asp-action="Library">Library</a>
    </li>
    <li class="nav-item">
        <a class="@socialValue" asp-route-username="@Model" asp-action="Social">Social</a>
    </li>
</ul>
