@model ApplicationUser
@inject IApplicationUserServices Service
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUtilityService UtilityService
@inject IApplicationFollowLogic FollowService
@inject IApplicationPictureLogic PictureLogic
@{
    ViewBag.Title = "About";
    Layout = "_Layout";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/About.css" />
</environment>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-3">
            @Html.Partial("_LeftContent", Model.Id)
        </div>
        <div class="col-md-9 col-9 rightContent">
            @await Html.PartialAsync("_ProfileNav", Model.User)

            <br/>
            <br/>
            
            <br/>
            <div class="row text-left">
                <div class="col-md-12 col-12">
                    <h4 class="text-left">
                        <i>
                            Comments
                        </i>
                    </h4>
                </div>
            </div>
            <div class="container border">
                @if (SignInManager.IsSignedIn(User))
                {
                    var userId = UserManager.GetUserId(User);
                    <div class="media p-3">
                        <img class="mr-3 rounded" id="reviewPicture" src="@Url.Content("..\\..\\" + PictureLogic.GetFolderWithFile(userId))"/>
                        <div class="media-body textAlign">
                            <form asp-controller="Posts" asp-action="Create" class="submitPost" role="form">
                                @Html.Hidden("userId", Guid.Parse(userId))
                                @Html.Hidden("targetId", Model.Id)
                                <input type="text" name="postText" placeholder="Say something.."/>
                                <button type="button" id="reviewButton" class="btn textButton"></button>
                            </form>
                        </div>
                    </div>
                }

                <div id="@Model.Id">
                    @Html.Partial("PartialViews/_PostsDisplay", Model.Posts)
                </div>
            </div>
        </div>
    </div>
</div>