@model ExploreBooks.Models.UserViewModels.IndexViewModel
@inject IUtilityService UtilityService

@{
    ViewData["Title"] = "Profile";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Users/Activity.css" />
</environment>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-3">
            @await Html.PartialAsync("_LeftContent", Model.Id)
        </div>
        <div class="col-md-9 col-9 rightContent">
            @await Html.PartialAsync("_ProfileNav", Model.Username)
            
            @{
                foreach (var activity in Model.BookActivity)
                {
                    var book = UtilityService.GetBookById(activity.TargetId);
                    <h3>@UtilityService.DisplayDate(activity.DateModified)</h3>
                    if (@book != null)
                    {
                        <h4>@book.Title</h4>
                    }
                }
            }
        </div>
        @*
        <div class="container border">
                @if (SignInManager.IsSignedIn(User))
                {
                <div class="media p-3">
                    <img class="mr-3 rounded" id="reviewPicture" src="@Url.Content("..\\..\\" + PictureService.GetFolderWithFile(userId))" />
                    <div class="media-body textAlign">
                        <form asp-controller="Posts" asp-action="Create" class="submitPost" role="form">
                            @Html.Hidden("userId", Guid.Parse(userId))
                            @Html.Hidden("targetId", Model.Id)
                            <input type="text" name="postText" placeholder="Say something.." />
                            <button type="button" id="reviewButton" class="btn textButton"></button>
                        </form>
                    </div>
                </div>
                }

                <div id="@Model.Id">
                    @Html.Partial("PartialViews/_PostsDisplay", Model.Posts)
                </div>
            </div>    
        *@
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
