@model BooksForMood
@inject IUtilityService UtilityService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ILikeService LikeService
<environment include="Development">
    <link rel="stylesheet" href="~/css/Authors/Details.css" />
</environment>

@{
    var user = UtilityService.GetApplicationUser(Model.UserId.ToString());
}
<br />
<div class="offset-1 col-md-10 col-10 sticky-top">
    <div class="card border-0" id="leftContentCard">
        <div class="row justify-content-center">
            <h3 id="title">
                @Model.Title
            </h3>
        </div>
        <div class="row justify-content-center">
            (@LikeService.GetNumberOfLikes(Model.Id)) vote/s
        </div>
        <hr />
        <div class="row justify-content-center">
            <p class="displayNormalContent">
                ,,@Model.Description,,
            </p>
        </div>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-8 col-8">
                <p>Submitted by</p>
            </div>
            <div class="col-md-4 col-4">
                <a asp-controller="Users" asp-action="Index" asp-route-username="@user.User">
                    <figure class="profile">
                        <img class="rounded" id="recomPicture" src="@Url.Content("..\\..\\..\\images\\" + user.Folder + "\\" + user.ImageName)"/>
                        <figcaption class="userProfile">
                            @user.User
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <hr />
        <div class="row justify-content-center">
            <p>
                @if (SignInManager.IsSignedIn(User))
                {
                    var userId = UserManager.GetUserId(User);
                    <a onclick="Upvote('@Model.Id', '@Guid.Parse(userId)')" class="displayContent"><i class="fa fa-arrow-up"></i> Upvote</a>
                    <a onclick="Downvote('@Model.Id', '@Guid.Parse(userId)')" class="displayContent"><i class="fa fa-arrow-down"></i> Downvote</a>
                }
                <br/>
                <a asp-controller="BooksForMood" asp-action="Index" class="displayContent">
                    <i class="fa fa-undo"></i> Search for others lists
                </a>
            </p>
        </div>
    </div>
</div>