@model IEnumerable<Review>
@inject IReviewService Service

@{
    ViewData["Title"] = "Index";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/Author.css" />
</environment>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BookRating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Likes)
                </th>
                <th>
                    Upvote/Downvote
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookRating)
            </td>
            <td>
                @{
                    var likes = Service.GetNumberOfLikes(item.Id);
                    @Html.DisplayFor(modelItem => likes)
                }
            </td>
            <td>
                @using (Html.BeginForm("Upvote", "Reviews", new { reviewId = item.Id, userId = item.UserId }, FormMethod.Post, null, new {}))
                {
                    <button class="btn btn-default">Upvote</button>
                }
                @using (Html.BeginForm("Downvote", "Reviews", new { reviewId = item.Id, userId = item.UserId }, FormMethod.Post, null, new {}))
                {
                    <button class="btn btn-default">Downvote</button>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @foreach (var comment in item.Comments)
                {
                    @comment.Text
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
     }
    </tbody>
</table>
